syllabus/syllabus_notes.md
course_readings/Jurafsky.pdf
course_readings/Manning.pdf
course_readings/Grimmer.pdf

# Virtual Environments
venv
.venv

# IDE
*.idea
*.vscode

*tar.bz2

*_JMT.ipynb

# grades
Fall_2023/grades/*